@import '../../styles.scss'; 

.container {
    @include center();
    position: relative;
    margin-top: 20px;
    width: 80%;
    height: 55vh;
    background: $color-white;
}

.country-name {
    text-align: center;
}

.flag {
    @include center();
    position: relative;
    height: 50px;
    width: 80px;
}

.back-button {
    margin-top: 15px;
    margin-left: 15px;
}

#mapid {
    @include center();
    height: 300px;
    width: 80%; 
}

ul {
    columns: 2;
}

.border-title {
    margin-left: 27px;
    margin-bottom: 5px;
}

.border-button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.borders {
    display: inline;
    height: 200px;
}