.main-container {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.table {
    margin:auto;
    width:100%
}

.flag {
    height: 50px;
    width: 75px;
}

.paginator {
    width: 100%;
}

.back-button {
    margin-right: auto;
}

