@import '../../styles.scss'; 

.main-container {
    @include center();
    margin-top: 20px;
    position: relative;
    width: 80%;
    
    @include breakpoint(xs) {
        width: 95%;
    }

    .title {
        background: $color-white;
        margin: 0;
        padding: 0 0 0 15px; 
    }

    .table-header {
        background: $color-white;
        display: flex;
        padding: 15px;

        .back-button {
            margin-right: auto;
            width: 65px;
            height: 35px;
        }
    }

    .table {
        margin:auto;
        width:100%;

        .cell {
            width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include breakpoint(xs) {
                width: 50px;
                font-size: 11px;
            }
        }

        .flag {
            height: 50px;
            width: 75px;
        }

        .tooltip .tooltiptext {
            opacity: 0;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 0 10px 0 10px; 
            transition: opacity 0.5s;

            position: absolute;
            z-index: 1;
          }
          
          .tooltip:hover .tooltiptext {
            opacity: 1;
          }
    }

    .paginator {
        width: 100%;
    }

    .mat-row:hover {
        background: $color-lightgray;
        cursor: pointer;
    }
}

